@model IEnumerable<enso_Certamen.Models.BoletinGeneral>

<h2>Boletines</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Nuevo Boletín</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Noticia</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TituloBoletin</td>
            <td>@item.DescripcionBoletin</td>
            <td>@item.FechaBoletin.ToString("yyyy-MM-dd")</td>
            <td> <strong>@item.IdBoletin</strong>  <span class="text-muted">- @item.TituloBoletin</span>
</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdBoletin" class="btn btn-primary btn-sm">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.IdBoletin" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table>
